# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### String Manipulation

##### .lstrip()

In [6]:
# string.lstrip()

greeting_string ='    Hello Matrix    '
print(greeting_string.lstrip())
print(greeting_string)

greeting_string = greeting_string.lstrip()

greeting_string

Hello Matrix
    Hello Matrix

'Hello Matrix    '

##### .rstrip()

In [7]:
# string.rstrip()
greeting_string.rstrip()

'Hello Matrix'

##### .strip()

In [10]:
# string.strip()
greeting_string ='    Hello Matrix    '
greeting_string.strip()

binary_matrix = '0101011001Matrix0000000111111001'
binary_matrix.strip('10')

'Matrix'

##### .title()

In [14]:
# string.title()
week9_string = 'seans workshop firestore'
print(week9_string.title())
upper_string = week9_string.upper()
print(upper_string)
upper_string.lower()

week9_string.capitalize()

Seans Workshop Firestore
SEANS WORKSHOP FIRESTORE

'Seans workshop firestore'

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [27]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
final_names = []
for e in names:
    final_names.append(e.strip().title())
    
print(final_names)

['Connor', 'Max', 'Evan', 'Jordan']

### Working With Lists

##### min()

In [30]:
# min(list)
min([100,5,9,44])

min(['z','y','a','Z'])

'Z'

##### max()

In [32]:
# max(list)
max([10,100,1,199])

max(['Z','Y','X','a'])

'a'

##### sum()

In [33]:
# sum(list)
num_list = [30,19,88]
print(sum(num_list))
sum([100,50,25])

137

175

##### sorted()

In [45]:
# sorted(list)

unsorted_list = [100,88,101,1,3]

print(sorted(unsorted_list))

print(unsorted_list)


print(sorted('abczyx'))

[1, 3, 88, 100, 101]
[100, 88, 101, 1, 3]
['a', 'b', 'c', 'x', 'y', 'z']

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [46]:
# list.sort()

print(unsorted_list)

print(unsorted_list.sort(),' during sort')

print(unsorted_list,' after sort')
# use sorted when you don't want to alter original list, use .sort() when you want to alter original list

[100, 88, 101, 1, 3]
None  during sort
[1, 3, 88, 100, 101]  after sort

##### Copying a List

In [50]:
# [:] copies a list, doesn't alter original
students = ['lyla', 'anthony', 'tom', 'heather', 'milad']
students2 = students
students_copy = students[:]

students_copy is students
students2 is students

for i, student in enumerate(students_copy):
    students_copy[i] = student.title()

print(students_copy,'\n', students)

for i in range(len(students2)):
    students2[i] = students2[i].title()
    
print(students2, '\n', students)

['Lyla', 'Anthony', 'Tom', 'Heather', 'Milad']
 ['lyla', 'anthony', 'tom', 'heather', 'milad']
['Lyla', 'Anthony', 'Tom', 'Heather', 'Milad']
 ['Lyla', 'Anthony', 'Tom', 'Heather', 'Milad']

##### 'in' keyword

In [56]:
'Tom' in students

if 'Mabel' in students:
    print('Welcome to class Mabel')
elif 'Mabel' not in students:
    students.append('Mabel')
    print(students)

Welcome to class Mabel

##### 'not in' keyword

In [58]:
# see above

'Toby' not in students

'Anthony' not in students

False

##### Checking an Empty List

In [60]:
# if l_1: or if l_1 = []
if not []:
    print('empty list falsey')

    
empty_list = list()

if empty_list:
    print('empty list truthy') # not accurate
    
empty_list = []

if not empty_list:
    print

empty list falsey

##### Removing Instances with a Loop

In [63]:
# while, remove

teachers = ['ryan','alex','dylan','dylan','sean','alex']

while 'alex' in teachers:
    teachers.remove('alex')
    print(teachers)

print('removed all alexs')

['ryan', 'dylan', 'dylan', 'sean', 'alex']
['ryan', 'dylan', 'dylan', 'sean']
removed all alex's

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [69]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
i = 0
while i < len(names):
    if names.count(names[i]) > 1:
        names.remove(names[i])
    else:
        i+=1
        
print(names)

['connor', 'max', 'evan', 2, 3, 4, 'bob', 'kevin']

In [68]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier
names_no_dupe = []
for i in names:
    if i not in names_no_dupe:
        names_no_dupe.append(i)
    elif i in names_no_dupe:
        continue
print(names_no_dupe)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [83]:
# number comprehension
num_list = [num for num in range(10)]
print(num_list)
# With a regular for loop
num_list2 = []
for num in range(10):
    if num % 2 == 0:
        num_list2.append(num)
    
[num for num in range(10) if num % 2 == 0]
# IN a list comprehension we have a few pieces:
# The first is the counter/ variable - IN this the variable is x
# Then we have a transform for the variable 
# The finale part of a list comp is called the condition
#[variable, transform, condition]

squared_nums = [num**2 for num in range(10)]

print(squared_nums)

cubes_and_squares = []
for num in range(10):
    cubes_and_squares.append(num**2 if num % 2 == 1 else num**3)
#     if num % 2 == 1:
#         cubes_and_squares.append(num**2)
#     else:
#         cubes_and_squares.append(num**3)
print(cubes_and_squares)
[num**2 if num % 2 == 1 else num**3 for num in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 8, 9, 64, 25, 216, 49, 512, 81]

[0, 1, 8, 9, 64, 25, 216, 49, 512, 81]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [ ]:
# square number comprehension
# see above

In [86]:
# string comprehension
students
students_first_letters = [student[0] for student in students]
student_ms = [student[0] for student in students if student[0] == 'M']

['M', 'M']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [118]:
my_tup = (1,2,'abc','foo',[2,3,4])

print(type(my_tup))

my_tup2 = 1,2,3,5,'foo','bar'

isinstance(my_tup2, tuple)

my_tup3 = tuple((1,2,3,4,6,9))

print(type(my_tup3))

tup4 = tuple()

print(type(tup4))

tup5 = 1,

print(type(tup5))

tup6 = 1,3,4,(3,4,5)

print(tup6)
type(tup6[-1])

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
(1, 3, 4, (3, 4, 5))

tuple

In [100]:
# .count() <tuple>.count(<element we want to count>)
# .index() <tuple>.index(<element we want the index of>)

print(my_tup)
my_tup.count(2)

(1,1,1,0,6,1).count(1)

print(tup6)
tup6.index(4)

(1, 2, 'abc', 'foo', [2, 3, 4])
(1, 3, 4, (3, 4, 5))

2

##### sorted()

In [106]:
sorted((9,1,9,4,100,5))

string_tuple = 'a','z','y','b'

sorted_letters = sorted(string_tuple)

print(sorted_letters_list)

sorted_tuple = tuple(sorted_letters_list)

print(sorted_tuple)

['a', 'b', 'y', 'z']
('a', 'b', 'y', 'z')

##### Adding values to a Tuple

In [119]:
my_tup = my_tup + (False,)

my_tup

(1, 2, 'abc', 'foo', [2, 3, 4], False)

In [117]:
new_tup = 1,2,3
another_tup = 4,5,7

new_tup + another_tup

new_tup += another_tup

print(new_tup)

(1, 2, 3, 4, 5, 7)

## Functions

##### User-Defined vs. Built-In Functions

In [123]:
# max()
# sum()
# min()
# print()
# range()
# help()

def greeting():
    return 'hello world'
    
print(greeting())
print(greeting())

print(greeting)

hello world
hello world
<function greeting at 0x000002B02B417920>

##### Accepting Parameters

In [130]:
def custom_greeting(first_name, last_name):
    print('test')
    return f'Hello {first_name.title()} {last_name.title()}'

print(custom_greeting('Porter', 'MillerWright'))
print(custom_greeting('sean', 'currie'))

test
Hello Porter Millerwright
test
Hello Sean Currie

##### Default Parameters

In [135]:
def introduce_instructor(last_name, first_name='dylan'):
    return f'Welcome to CT your instructor is {first_name.title()} {last_name.title()}'

introduce_instructor('smith')

'Welcome to CT your instructor is Dylan Smith'

##### Making an Argument Optional

In [143]:
def greeting_full_name(first_name, last_name, middle_name=''):
    return f'Greetings {first_name}{f" {middle_name}" if middle_name else ""} {last_name}'

greeting_full_name('dylan','smith')

'Greetings dylan smith'

##### Keyword Arguments

In [144]:
# last_name='Max', first_name='Smith' in the function call

greeting_full_name(last_name='smith',first_name='dylan')

'Greetings dylan smith'

# Creating a start, stop, step function

In [147]:
def my_range(stop,start=0,step=1):
    range_nums = []
    while start < stop:
        range_nums.append(start)
        start+=step
    return range_nums

print(my_range(20,1,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [148]:
def range_golf(stop,start=0,step=1):
    return [num for num in range(start,stop,step)]
# doesn't really work because ^
print(range_golf(30))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

##### Returning Values

In [153]:
def my_range2(stop,start=0,step=1):
    range_nums = []
    while start < stop:
        range_nums.append(start)
        start+=step
    print(range_nums)
    
print(my_range2(20),' function call')

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
None  function call

##### *args

In [159]:
def display_info(name, *args):
    """
    print name
    iterate through args and display
    """
    print(name)
    if args:
        for arg in args:
            print(arg)
            
display_info('sean','tesla','pool master','dart champion','firebase wizard','mario creator')

sean
tesla
pool master
dart champion
firebase wizard
mario creator

##### Docstring

In [160]:
help(display_info)

Help on function display_info in module __main__:

display_info(name, *args)
    print name
    iterate through args and display

##### Using a User Function in a Loop

In [177]:
def get_user_choice():
    return input("would you like to [a]dd [r]emove [s]how [q]uit: ")

while True:
    if get_user_choice() == "q":
        print('That is all for lecture')
        break

would you like to [a]dd [r]emove [s]how [q]uit: a
would you like to [a]dd [r]emove [s]how [q]uit: r
would you like to [a]dd [r]emove [s]how [q]uit: s
would you like to [a]dd [r]emove [s]how [q]uit: q
That is all for lecture

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [176]:
first_name = ['John', 'Evan', 'Jordan', 'Max']
last_name = ['Smith', 'Smith', 'Williams', 'Bell']
full_name = []
def full_names(first_names, last_names):
    for name in range(len(first_name)):
        print(first_names[name], last_names[name])
        
full_names(first_name, last_name)
# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

John Smith
Evan Smith
Jordan Williams
Max Bell

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

# Exercises

## Exercise 1 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [181]:
# Use the following list - [1,11,14,5,8,9]
out = []
l_1 = [1,11,14,5,8,9]
def list_u10(l):
    for i in l:
        if i < 10:
            out.append(i)
    print(out)
list_u10(l_1)

[1, 5, 8, 9]

In [186]:
# Exercise 1, ec:
monsters = [1,11,14,5,8,9]
fightable_monsters = []
def fight_mon(monster):
    for i in monsters:
        if i < 10:
            fightable_monsters.append(i)
    print(fightable_monsters)

fight_mon(monsters)

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [182]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

def sorted_l(l1, l2):
    lf = l1 + l2
    lf.sort()
    print(lf)
    
sorted_l(l_1, l_2)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]

In [224]:
# Exercise 2, ec:
l_1 = [1, 2, 3, 4, 5, 6]
l_2 = [3, 4, 5, 6, 7, 8, 10]
max_inventory_size = 8

def sort_invent(l1,l2,max_inventory_size):
    lf = l1 + l2
    lf.sort(reverse=True)
    return lf[:max_inventory_size]
    
sort_invent(l_1,l_2,max_inventory_size)

[10, 8, 7, 6, 6, 5, 5, 4]